 <% if (user){ %>
   <h2><%= user.email%></h2>
   <form method="POST" action="/logout">
    <div class="form-group mb-2">
          <label for="logout" name = "logout"> </label>
          <button type="submit" class="btn btn-primary">Logout</button>
    </div>
   </form>
<% } else { %>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href= '/register'> Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href= '/login'> Login</a>
  </li>
</ul>
<% } %>
</b>
</b>



