 <h1>Tiny App</h1>
 <% if (user){ %>
   <h2><%= user.email%></h2>
   <form method="POST" action="/logout">
    <div class="form-group mb-2">
          <label for="logout" name = "logout"> </label>
          <button type="submit" class="btn btn-primary">Logout</button>
    </div>
   </form>
<% } else { %>
  <a href= '/register'> Register </a>
  <a href= '/login'> Login </a>
<% } %>
</b>
</b>



