 <h1>Tiny App</h1>
 <% if (user){ %>
 <h2><%= user.email%></h2>
 <form method="POST" action="/logout">
   <div class="form-group mb-2">
        <label for="logout" name = "logout"> </label>
        <button type="submit" class="btn btn-primary">Logout</button>
</div>
 </form>
<%} else {%>
 <form method="POST" action="/login">
   <div class="form-group mb-2">
        <label for="name = username" name = "users[user_id].email" > User email: </label>
        <input class="form-control" type="text" name="users[user_id].email" placeholder="User Email" style="width: 300px; margin: 1em">
        <button type="login" class="btn btn-primary">Login</button>
      </div>
 </form>
 <%}%>
</b>
</b>



